@use "styles/mixins" as *;

.nav-bar-link {
    @include transition('color');

    @include hover {
        color: var(--color-secondary-bg-600);
    }

    @include active {
        color: var(--color-secondary-bg-600);
    }

    padding: 0;
    color: inherit;

    &_active {
        color: var(--color-secondary-bg-600);
    }
}