@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.slider2 {
    $this: &;

    &__wrapper {
        display: grid !important;
        grid-auto-flow: column !important;

        & > li {
            @include media($md) {
                width: clamp(357px, 312.64px + 11.38vw, 644px) !important;
                height: auto;
            }

            width: 644px !important;
            min-height: 400px;
            border-radius: var(--radius-500);

            &:nth-child(odd) {
                background-color: var(--color-secondary-bg-600);

                #{$this}-slide {
                    &__content {
                        color: var(--color-secondary-bg-100);
                    }
                }
            }

            &:nth-child(even) {
                background-color: var(--color-secondary-bg-150);

                #{$this}-slide {
                    &__content {
                        color: var(--color-secondary-bg-600);
                    }
                }
            }
        }
    }

    &__nav-buttons {
        @include media($md) {
            justify-content: flex-end;
        }

        display: flex;
        column-gap: var(--spacing-650);
        justify-content: center;
        margin-top: var(--spacing-600);
    }

    &__nav-button-prev {
        transform: rotate(90deg);

        svg {
            width: 15px;
            height: 9px;
        }
    }

    &__nav-button-next {
        transform: rotate(-90deg);

        svg {
            width: 15px;
            height: 9px;
        }
    }
}