@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-675) var(--spacing-600);
    max-width: 502px;

    &__list-item-sizer {
        @include media($md) {
            width: 100%;
        }

        width: calc(50% - var(--spacing-700));
        opacity: 0;
        visibility: hidden;
    }
}