@use 'styles/placeholders' as *;
@use 'styles/mixins' as *;

.folder-tab {
    @include hover {
        background-color: var(--color-primary-main-200);
    }

    @include transition(('color', 'background-color'));

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 11px;
    border-top-left-radius: var(--radius-500);
    border-top-right-radius: var(--radius-500);
    background-color: var(--color-primary-main-100);
    cursor: pointer;
    user-select: none;

    &:has(input:checked) {
        background-color: var(--color-secondary-bg-600);
        cursor: default;
    }

    &__input {
        @extend %visually-hidden;
    }
}