:root {
    // Colors
    --color-white: #fff;
    --color-black: #000;
    --color-primary-main-100: #F70;
    --color-primary-main-200: #F85F00;
    --color-primary-main-300: #FFCA9B;
    --color-primary-bg-100: #181818;
    --color-primary-bg-200: #EBEBEB;
    --color-primary-accent-100: #848484;
    --color-secondary-bg-100: #282828;
    --color-secondary-bg-200: #2C2B2B;
    --color-secondary-bg-300: #838383;
    --color-secondary-bg-350: #ABAAAA;
    --color-secondary-bg-375: #B2B2B2;
    --color-secondary-bg-400: #152D3F;
    --color-secondary-bg-500: #9FAEBC;
    --color-secondary-bg-600: #FBFBFB;
    --color-status-success: #1F9C46;
    --color-status-danger: #D83333;
    --color-status-danger-100: #FFDADA;
    --color-status-warning: #F7AA22;
    --color-status-info: #1D86EF;

    // Containers
    --container-main: 1376px;

    // Spacing
    --spacing-100: 128px;
    --spacing-200: 80px;
    --spacing-300: 48px;
    --spacing-400: 32px;
    --spacing-500: 24px;
    --spacing-550: 20px;
    --spacing-600: 16px;
    --spacing-700: 8px;
    --spacing-750: 6px;
    --spacing-800: 4px;

    // Radius
    --radius-100: 50%;
    --radius-200: 40px;
    --radius-300: 20px;
    --radius-400: 16px;
    --radius-500: 10px;

    // Transition
    --transition-duration-basic: 0.3s;
    --transition-easing-func: ease;
}