@use './mixins' as *;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
a,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal
}

body {
    @include custom-scroll;

    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: var(--color-primary-bg-100);
}

.scroll-lock {
  overflow-y: hidden;
}

.hidden {
  display: none !important;
}