* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: var(--color-primary-bg-100);
}