@use "sass:math";
@use "sass:list";

@mixin media($device-size, $property: max-width) {
    @media screen and (#{$property}: #{$device-size}px) {
        @content;
    }
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin active {
    &:active {
        @content;
    }
}

@mixin focus-visible {
    &:focus-visible {
        @content;
    }
}

@mixin focus-within {
    &:focus-within {
        @content;
    }
}

@mixin disabled {
    &:disabled {
        @content;

        pointer-events: none;
    }
}

@mixin rem($property, $font-size, $root-font-size: 16px) {
    #{$property}: math.div($font-size, $root-font-size) * 1rem;
}

@mixin line-height($line-height, $font-size) {
    line-height: math.div($line-height, $font-size) * 100%;
}

@mixin transition(
    $properties,
    $duration: var(--transition-duration-basic),
    $easing-func: var(--transition-easing-func)
) {
    $transitions: ();

    @each $property in $properties {
        $transitions: list.append(
            $transitions,
            #{$property} #{$duration} #{$easing-func},
            "comma"
        );
    }

    transition: $transitions;
}

@mixin line-clamp($num-lines: 2) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $num-lines;
    -webkit-box-orient: vertical;
}

@mixin custom-scroll($width: 4px, $height: 4px) {
    &::-webkit-scrollbar {
        width: $width;
        height: $height;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background-color: var(--color-primary-accent-100);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary-main-100);
    }
}

@mixin starting-style {
    @starting-style {
        @content;
    }
}

@mixin hide-scrollbar {
    overflow: -moz-scrollbars-none; // older versions of Firefox
    -ms-overflow-style: none;  // Internet Explorer 10+
    scrollbar-width: none; // Chrome, Safari, Firefox

    &::-webkit-scrollbar  {
        display: none;  /* Safari and Chrome */
    }
}