@use "styles/constants" as *;
@use "styles/mixins" as *;

.section-results {
    &__wrapper {
        &#{&} {
            @include media(1440, min-width) {
                margin-left: calc((100vw - var(--container-main)) / 2);
            }

            @include media($md) {
                margin-right: clamp(16px, 10.064px + 1.524vw, 32px);
            }

            max-width: none;
            margin-right: 0;
        }
    }

    &__slider {
        margin-top: var(--spacing-300);
    }
}
