mixin section-hero(props = {})
    section.section-hero
        .section-hero__wrapper
            h1.h1.section-hero__title Ваш заботливый фитнес-тренер

            div
                p.p5.section-hero__motto Для тех, кто хочет сделать спорт своей рутиной, но&nbsp;постоянно спотыкается

                .section-hero__accent-word
                    h2.h1 Мария
