@use "styles/mixins" as *;

.activity-details {
    justify-content: space-between;

    &__title {
        @include line-clamp(3);
    }

    &__description {
        @include line-clamp(7);

        text-transform: uppercase;
    }

    &__info-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-675) var(--spacing-600);
    }

    &__info-list-item-title {
        margin-bottom: var(--spacing-600);
        color: var(--color-primary-main-100);
    }
}
