@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.section {
    &_theme {
        &_light {
            background-color: var(--color-primary-bg-200);
        }

        &_dark {
            background-color: var(--color-primary-bg-100);
        }
    }

    &__wrapper {
        @include media($xxxl) {
            margin: 0 clamp(1rem, 0.629rem + 1.524vw, 2rem);
        }

        max-width: var(--container-main);
        padding: var(--spacing-100) 0;
        margin: 0 auto;
    }

    &__subtitle {
        margin-top: var(--spacing-700);
        color: var(--color-primary-accent-100);
    }
}