@use "styles/placeholders" as *;
@use "styles/mixins" as *;

.icon-button {
    @include transition(('color', 'background-color'));

    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-100);

    &_size {
        &_l {
            width: 44px;
            height: 44px;
        }

        &_s {
            width: 42px;
            height: 42px;
        }

        &_xs {
            width: 24px;
            height: 24px;

            svg {
                width: 10px;
                height: 10px;
            }
        }
    }

    &_theme {
        &_light {
            @include hover {
                color: var(--color-primary-bg-100);
            }

            @include active {
                color: var(--color-primary-accent-100);
            }

            background-color: var(--color-secondary-bg-600);
            color: var(--color-secondary-bg-100);
        }

        &_transparent {
            @include hover {
                background-color: rgba($color: var(--color-secondary-bg-360-rgb), $alpha: 64%);
            }

            @include disabled {
                border-color: transparent;
                background-color: rgba($color: var(--color-secondary-bg-360-rgb), $alpha: 10%);
            }

            border: 1px solid var(--color-secondary-bg-600);
            background-color: rgba($color: var(--color-secondary-bg-360-rgb), $alpha: 33%);
            color: var(--color-secondary-bg-600);
        }

        &_dark {
            @include hover {
                background-color: var(--color-primary-bg-100);
                color: var(--color-primary-bg-200);
            }

            background-color: var(--color-secondary-bg-200);
            color: var(--color-secondary-bg-600);
        }
    }

    &__wrapper {
        position: relative;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
    }

    &__icon {
        @extend %position-center;
    }
}
