@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.section-reviews {
    overflow-y: hidden;

    &__reviews-list {
        margin: var(--spacing-300) auto 0;
    }

    &__reviews-list-wrapper {
        position: relative;
        max-width: 502px;
        margin: 0 auto;
    }

    &__deco-element {
        @include media($lg) {
            display: none;
        }

        position: absolute;
        top: 0;
        z-index: 1;
        width: calc(50% - (var(--spacing-600) / 2));
        aspect-ratio: 1 / 2.1564;
        background: center / cover no-repeat url("./assets/images/dumbbell.png");

        &_before {
            left: 0;
        }

        &_after {
            right: 0;
        }
    }
}
