mixin faq(props = {})
    //- TODO: найти решение для выноса данных в JSON и сборку через Webpack
    -
        const faqData = [
            {
                "title": "Как правильно составить тренировочный план?",
                "panel": "Начните с&nbsp;определения ваших целей:похудение, набор мышечной массы, улучшение выносливости, подготовка к&nbsp;забегу или восхождению на&nbsp;гору...Также необходимо оценить свой уровень подготовки. И&nbsp;уже исходя из&nbsp;этого всего определять тренировочный план. Но&nbsp;поверьте, если вы&nbsp;новичок или даже &laquo;бывалый&raquo;, то&nbsp;с&nbsp;этой задачей лучше обратиться к&nbsp;профессионалу (тренеру)&nbsp;&mdash; опыт, насмотренность и&nbsp;профильное образование сэкономят ваше время и&nbsp;ресурсы"
            },
            {
                "title": "Сколько раз в&nbsp;неделю нужно тренироваться?",
                "panel": "Опять&nbsp;же оцениваем свои возможности: время и&nbsp;ресурс. Чем чаще и&nbsp;регулярнее вы&nbsp;начнете заниматься, тем быстрее втянетесь в&nbsp;процесс и&nbsp;адаптируетесь к&nbsp;нагрузке, при условии, что ваш тренировочный процесс построен грамотно. В&nbsp;среднем 3-4 тренировки в&nbsp;неделю (включая кардио) это оптимально"
            },
            {
                "title": "Как избежать травм при тренировках?",
                "panel": "Всегда делайте хорошую разминку перед тренировкой. Как говорится: лучше хорошая разминка без тренировки, чем хорошая тренировка без разминки. Но&nbsp;опять&nbsp;же, зависит от&nbsp;вашего уровня подготовленности и&nbsp;задач. Концентрация и&nbsp;настрой на&nbsp;тренировку также очень важны и&nbsp;они достигаются с&nbsp;помощью хорошей разминки"
            },
            {
                "title": "Нужен&nbsp;ли мне спортпит и&nbsp;витамины для занятий?",
                "panel": "Все зависит от&nbsp;вашей подготовки и&nbsp;режима тренировок, а&nbsp;также насколько вы&nbsp;уже сбалансировано питаетесь. Если вы&nbsp;понятия не&nbsp;имеете о&nbsp;том, что такое КБЖУ и&nbsp;ваши тренировки не&nbsp;на&nbsp;регулярном уровне с&nbsp;достаточным коэффициентом нагрузки, то&nbsp;лучше займитесь сначала основой. А&nbsp;потом уже вместе с&nbsp;тренером подумайте что вам надо, а&nbsp;что нет"
            },
            {
                "title": "Как скоро я&nbsp;увижу результаты от&nbsp;тренировок?",
                "panel": "&laquo;Как только&nbsp;&mdash; так сразу&raquo;&nbsp;&mdash; не&nbsp;ждите быстрых результатов, но&nbsp;если вы&nbsp;будете тренироваться регулярно, постепенно повышать уровень нагрузки, сбалансированно и&nbsp;правильно питаться, то&nbsp;в&nbsp;уже через месяц вы&nbsp;увидите первые результаты. Но&nbsp;если вы&nbsp;не&nbsp;будете спешить и&nbsp;отдадитесь процессу, то&nbsp;вы&nbsp;получите больше, чем просто пару скинутых кило"
            }
        ]

    +accordion({ tag: 'ol', data: faqData })&attributes(attributes)
