//- PAGES
extends pages/home/index

//- MODULES

//- COMPONENTS

//- UI
include ui/button/button
include ui/checkbox/checkbox
include ui/checkbox2/checkbox2
include ui/icon/icon
include ui/spinner/spinner
