//- PAGES
extends pages/home/index

//- MODULES
include modules/faq/index

//- COMPONENTS
include components/accordion/index
include components/section/index

//- UI
include ui/button/button
include ui/checkbox/checkbox
include ui/checkbox2/checkbox2
include ui/icon/icon
include ui/icon-button/icon-button
include ui/spinner/spinner
