.section-title {
    &_theme {
        &_light {
            color: var(--color-primary-bg-100);
        }

        &_dark {
            color: var(--color-secondary-bg-600);
        }
    }

    &_align {
        &_left {
            max-width: 586px;
        }

        &_center {
            text-align: center;
        }
    }

    &_signature {
        &_benefits {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                right: 0;
                bottom: -5px;
                width: 428px;
                height: 118px;
                background: center / cover no-repeat
                    url("./assets/images/signature-benefits.png");
            }
        }

        &_results {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                right: 193px;
                bottom: -22px;
                width: 322px;
                height: 100px;
                background: center / cover no-repeat
                    url("./assets/images/signature-results.png");
            }
        }
    }

    &__accent-word {
        color: var(--color-primary-accent-100);
    }
}
