@use 'styles/constants' as *;
@use 'styles/mixins' as *;

.section-title {
    &_theme {
        &_light {
            color: var(--color-primary-bg-100);
        }

        &_dark {
            color: var(--color-secondary-bg-600);
        }
    }

    &_align {
        &_left {
            max-width: 586px;
        }

        &_center {
            text-align: center;
        }
    }

    &_signature {
        &_benefits {
            position: relative;
            width: fit-content;

            &#{&} {
                @include media($lg) {
                    &::before {
                        right: -154px;
                        bottom: -30px;
                    }
                }

                @include media($md) {
                    &::before {
                        right: -53px;
                        bottom: -9px;
                        width: 262px;
                        height: 78px;
                    }
                }

                @include media($xs) {
                    &::before {
                        right: -11px;
                        bottom: -20px;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                right: -95px;
                bottom: -17px;
                width: 432px;
                height: 118px;
                background: center / cover no-repeat
                    url("./assets/images/signature-benefits.png");
            }
        }

        &_results {
            position: relative;
            width: fit-content;
            &#{&} {
                @include media($lg) {
                    &::before {
                        right: -190px;
                        bottom: -32px;
                    }
                }

                @include media($md) {
                    &::before {
                        right: -164px;
                        bottom: -11px;
                        width: 266px;
                        height: 53px;
                        background-image: url("./assets/images/signature-results-mobile.png");
                    }
                }

                @include media($xs) {
                    &::before {
                        right: -153px;
                        bottom: -20px;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                right: -131px;
                bottom: -26px;
                width: 322px;
                height: 100px;
                background: center / cover no-repeat
                    url("./assets/images/signature-results.png");
            }
        }
    }

    &__accent-word {
        color: var(--color-primary-accent-100);
    }
}
